@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Barrio&family=Bayon&family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Bangers&family=Fredoka+One&family=Josefin+Slab&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Bayon';
}

.first-header {
    background: url(https://cdn.pixabay.com/photo/2022/10/01/15/51/gartenbank-7491775__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0rem;
    color: white;
    margin: 0 auto;
}

.logo {
    font-family: 'Bangers';
    font-size: 4rem;
    text-shadow: 1px 2px 5px #fff, 0 0 0 #000;
    letter-spacing: .3rem;
    padding: 0;
    margin: 0;
}


.logo-orange {
    font-family: 'Bangers';
    font-size: 4rem;
    text-shadow: 1px 2px 5px orange, 0 0 0 #000;
    letter-spacing: .3rem;
    padding: 0;
    margin: 0;
}


.nav-list ul { list-style-type: none;
justify-content: space-between;}

.nav-list ul li { display: inline-block;}

.nav-list ul li a { text-decoration: none;
color: white;}

.nav-list ul li a:hover { color: orange;}

.nav-list ul li .last-link:hover { color: teal;}

.container {
    width: 70rem;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
    margin: 10rem 0;

}

.flow-content { margin-top: 3rem;}

.flow-content * + * { margin-top: 3rem;}

.split {
    display: flex;
    
}

.split-column { display: flex;
flex-direction: column;}


.split > * + * {
    flex-basis: 100%;
}



.split-col-33 { 
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
}

.center { text-align: center;
align-items: center;}

.round { border-radius: 25px;}

.left { text-align: left;}

.teal { color: teal;}

.orange { color: orange;}

.bg-teal { background-color: teal;
color: white;}

.bg-orange { background: url(https://cdn.pixabay.com/photo/2013/10/03/14/26/paint-190260_960_720.jpg);
background-size: cover;
color: white;}

.bg-white { background: white;
color: teal; }

.bg-room { background: url(https://cdn.pixabay.com/photo/2015/02/20/20/39/room-643594_960_720.jpg);
background-size: cover;
color: white;}

.bg-woman { background: url(https://cdn.pixabay.com/photo/2022/10/01/18/28/ebony-7492030__340.jpg);
background-size: cover;
color: white;}


.join-btn { background-color: transparent;
color: white;
border: 5px double white;
border-radius: 25px;
padding: 1rem 4rem;
text-decoration: none;
font-family: 'Josefin Slab';
font-size: 1.5rem;
font-weight: bold;
display: inline-block;
margin-bottom: 1rem;
}

.join-btn:hover {
    background-color: orange;
    color: teal;
    transition: 1s;
    font-weight: bold;
}

/* Form Section */

form { width: 70rem;
border: 5px double white;
margin: 0 auto;
padding: 1rem 0;
border-radius: 25px;
}

label { display: block;
width: 25rem;
margin: 0 auto;
text-align: left;}

input { border: 5px double gray;
width: 15rem;}

form input[type="checkbox"] {
    width: 1rem;
}

form input[type="button"] {
    background-color: transparent;
    color: white;
    border: 5px double white;
    border-radius: 25px;
    font-size: 1.2rem;
}

form input[type="button"]:hover {
    background-color: teal;
    color: orange;
    border: 5px double white;
    transition: 1s;
}


.center { text-align: center;}

/* Dropdown Button */
.dropbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover {
    background-color: white;
    color: orange;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    left: 32.5%;
    background-color: orange;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: teal;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}





  /* Cards */

  .card {
    flex-basis: 33%;
    margin: 1rem .2rem;
    border-radius: 25px;
    padding: 2rem 1rem;
    font-family: 'Bayon';
    
  }

  .card-btn {
    padding: 1rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;

  }

  .card-btn:hover { 
    background-color: orange;
    color: teal;
   
    transition: 1s;

  }



  @media screen and (max-width: 600px) {
    body { font-size: .8rem;}

    .bg-woman { background-size: cover;
    width: 100vw; }

    .split { 
    display: flex;
    flex-direction: column;
    }

    .card { width: 500px;
    padding: .3rem;}

    .card-btn { padding: .2rem .4rem;}

    .container { width: 500px;}

    form { width: 500px;}

  }

